[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = {extras = ["base"], version = "*"}
kivymd = "*"
numpy = "*"
scipy = "*"
pandas = "*"
tomlkit = "*"
requests = "*"
matplotlib = "*"
darkdetect = "*"
statsmodels = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
